.loginContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  width: 25vw;
  height: 45vh;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 35px;

  button{
    width: max-content;
    height:max-content;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgb(36, 83, 236);
    border-radius: 5px;
    color: rgb(36, 83, 236);
    font-weight: 600;
    align-self: center;
    &:hover{
      color: white;
      background: rgb(36, 83, 236);
      cursor: pointer;
    }
  }

  h2{
    margin: 0;
  }

  form{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    width: 80%;
    align-self: center;
    &:focus{
      outline: none;
    }
  }

  .swap {
    font-size: .7em;
    color: blue;
    cursor: pointer;
  }
}