.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  .todo{
    width: 60%;
    margin: 5vh 0 0 0;
    text-align: left;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    button{
      width: max-content;
      height: max-content;
      padding: 8px;
      font-size: .6em;
      color: red;
      border: 1px solid red;
      border-radius: 5px;
      margin-left: 20px;
      &:hover{
        background: red;
        color: white;
        cursor: pointer;
      }
    }
    input{
      margin-right: 3vw;
      transform: scale(1.3);
    }
  }

  form {
    width: 60%;
    input{
      width: 100%;
      border: none;
      padding: 10px;
      font-size: 1.2em;
      border-left: 1px solid rgb(46, 46, 46);
      &:focus{
        outline: none;
      }
    }
  }
}